
<div class="alert alert-success" role="alert" >
  <p>搜索结果如下：</p>
</div>
<div >
  <div class="col-sm-9 portlet">    
    <section class="panel panel-default">
      <header class="panel-heading">相关信息        
        <span class="badge bg-info">5</span>
      </header>
      <ul class="list-group alt">
        
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="col-sm-10">
              <a href="<{$quesArray[times].href}>"><strong class="block">test</strong></a>
              <a href="<{$quesArray[times].writerhref}>"><small>test</small></a>
              <div style="margin-top:10px;">
                <small><p align="left">dassadsa></p></small>
                <p align="right"><small>2013-10-1</small></p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="col-sm-10">
              <a href="<{$quesArray[times].href}>"><strong class="block">test</strong></a>
              <a href="<{$quesArray[times].writerhref}>"><small>test</small></a>
              <div style="margin-top:10px;">
                <small><p align="left">dassadsa></p></small>
                <p align="right"><small>2013-10-1</small></p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="col-sm-10">
              <a href="<{$quesArray[times].href}>"><strong class="block">test</strong></a>
              <a href="<{$quesArray[times].writerhref}>"><small>test</small></a>
              <div style="margin-top:10px;">
                <small><p align="left">dassadsa></p></small>
                <p align="right"><small>2013-10-1</small></p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="col-sm-10">
              <a href="<{$quesArray[times].href}>"><strong class="block">test</strong></a>
              <a href="<{$quesArray[times].writerhref}>"><small>test</small></a>
              <div style="margin-top:10px;">
                <small><p align="left">dassadsa></p></small>
                <p align="right"><small>2013-10-1</small></p>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="col-sm-10">
              <a href="<{$quesArray[times].href}>"><strong class="block">test</strong></a>
              <a href="<{$quesArray[times].writerhref}>"><small>test</small></a>
              <div style="margin-top:10px;">
                <small><p align="left">dassadsa></p></small>
                <p align="right"><small>2013-10-1</small></p>
              </div>
            </div>
          </div>
        </li>
      </ul>

    </section>
  </div>
  <div class="col-sm-3 portlet">
    <section class="panel panel-default">
      <header class="panel-heading">
        相关成员<span class="badge bg-info">5</span>
      </header>
      <ul class="list-group alt">
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="media">
            <span class="pull-left thumb-sm"><img src="http://pic14.nipic.com/20110522/7411759_164157418126_2.jpg" alt="" class="img-circle"></span>
            <div class="pull-right <{$manArray[times].type}>  m-t-sm">
              <i class="fa fa-circle"></i>
            </div>
            <div class="media-body">
              <div><a href="<{$manArray[times].manhref}>">test</a></div>
              <small class="text-muted">2301-10-1></small>
            </div>
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>