.navbar-right a.toolbar-icon {
  width: 36px;
  height: 36px;
  margin: 12px 6px;
  padding: 0 !important;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  background-color: #f7fafa;
}