<!-- 最新动态内容 index_content.html -->
<div class="row">
  <div class="col-sm-8">
    <!--  第二部分  -->
    <h4 class="font-thin">最新动态</h4>

    <section class="comment-list block">
      <!--  comment-item-id-1  -->
      <article class="comment-item" ng-repeat="act in cs.acts">
        <a class="pull-left thumb-sm avatar">
          <img ng-src="{{act.authorAvatar}}">
        </a>
        <span class="arrow left"></span>
        <!--主体内容  -->
        <section class="comment-body panel panel-default">
          <header class="panel-heading">
            <a href="/profile/{{act.authorId}}">{{act.authorName}}</a>

            <label class="label m-l-xs label-success">发表动态</label>

            <span class="text-muted m-l-sm pull-right">
              <i class="icon-clock"></i>
              {{act.createAt}}
            </span>
          </header>

          <div class="panel-body">
            <h4>
              <a href="#">
                {{act.title}}
              </a>
            </h4>
            <blockpanel-bodyquote>
              <p>{{act.content}}</p>
            </blockquote>
          </div>
        </section>
      </article>
    </section>
  </div>

  <!-- mini_aside part  -->
  <div class="col-sm-4" ui-view="widgets"></div>
</div>