<div class="mini-aside">
<h4 class="font-thin">最新反馈</h4>
<div class="panel panel-default">
   <div class="table-responsive">
      <table class="table table-striped b-t b-light">
         <tbody>
            <tr>
               <td>
                  <span class="label label-info">新发布</span>
                  <a href="/app/feedback/bug_info.php?bug_name=59">邮件群发功能</a>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="label label-info">新发布</span>
                  <a href="/app/feedback/bug_info.php?bug_name=58">Safari浏览器弹窗置顶问题
                  </a>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="label label-info">新发布</span>
                  <a href="/app/feedback/bug_info.php?bug_name=57">手机浏览问题</a>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="label label-info">新发布</span>
                  <a href="/app/feedback/bug_info.php?bug_name=56">建议站内信心跳拉取</a>
               </td>
            </tr>
            <tr>
               <td>
                  <span class="label label-default">已关闭</span>
                  <a href="/app/feedback/bug_info.php?bug_name=55">手机适配问题</a>
               </td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
</div>